.onclick-menu {
    position: relative;
    display: inline-block;
}
.onclick-menu:before {
    content: "click me!";
}
.onclick-menu:focus .onclick-menu-content {
    /* content is visible if menu is 'opened' */
    visibility: visible;
}
.onclick-menu-content {
    position: absolute;
    z-index: 1;

    /* disable visibility by default, delay to enable clicks */
    visibility: hidden;
    transition: visibility 0.5s;
}
